<div class="bootstrap-wrapper">
  <div class="container ">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <mat-card>

        <div class="container text-center">
          <img class="logo-size" src="../../../assets/logo.png" alt="" />
        </div>
        <h1 class="text-center">Login</h1>


        <form (ngSubmit)="formSubmit()" >
            <!-- UserName field -->
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>UserName</mat-label>
                <input 
                required
                [(ngModel)]="loginData.username"
                name="username" 
                matInput placeholder="Enter Here" />
            </mat-form-field>

            <!-- Password field -->
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Password</mat-label>
                <input 
                required
                [(ngModel)]="loginData.password"
                name="password" 
                type="password" matInput placeholder="Enter Here" />
            </mat-form-field>
             <div class="container text-center">
                <button type="submit" mat-raised-button color="primary">Login</button>
            </div>
        </form>
        </mat-card>

      </div>
    </div>
  </div>
</div>
