<footer>
  <div class="container">
    <div class="content">
      <div class="col">
        <p>Contact Us</p>
       
        <div class="flex">
          <div class="col-info">
            <p>
              PHONE NUMBER <br />
              <span>+1 (800) 060-07-30</span>
            </p>
            <p>
              OUR LOCATION <br />
              <span
                >715 Fake Street, New York<br />
                10021 USA</span
              >
            </p>
          </div>
          <div class="col-info">
            <p>
              EMAIL ADDRESS <br />
              <span>us@example.com</span>
            </p>

            <p>
              WORKING HOURS <br />
              <span>Mon-sat 10:00pm - 7:00pm</span>
            </p>
          </div>
        </div>
      </div>
     
      
      <div class="col">
       
        <p>Follow us on social networks:</p>
        <div class="social">
          <img src="https://i.postimg.cc/44pPB9wk/facebook.png" alt="" />
          <img src="https://i.postimg.cc/L8Q3nB4f/twitter.png" alt="" />
          <img src="https://i.postimg.cc/TYG9S3Hy/instagram.png" alt="" />
          <img src="https://i.postimg.cc/kGCxkTwr/youtube.png" alt="" />
          <img src="https://i.postimg.cc/CKZHDBd2/telegram.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</footer>
